In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.dates as mdates
import matplotlib.pyplot as plt

In [169]:

# import os
# import glob
# #set working directory
# os.chdir("C:/Users/HP/Desktop/datathon/App/Data/Meter Data")
# extension = 'csv'
# all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

# combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
# #export to csv
# combined_csv.to_csv( "Demand Data.csv", index=False, encoding='utf-8-sig')

In [2]:
df_demand = pd.read_csv("/Data/Demand_Data/Demand.csv")
df_income = pd.read_excel("C:/Users/HP/Desktop/datathon/App/Data/HouseholdIncome.xls")
df_cases = pd.read_csv("C:/Users/HP/Desktop/datathon/App/Data/covid cases.csv")
df_market = pd.read_excel("C:/Users/HP/Desktop/datathon/App/Data/share_market.xlsx")
df_temp_max = pd.read_csv("C:/Users/HP/Desktop/datathon/App/Data/Temp data/Max/Max_temp.csv")
df_dollar = pd.read_csv("C:/Users/HP/Desktop/datathon/App/Data/AUD_USD Historical Data.csv")
df_consumption = pd.read_csv("C:/Users/HP/Desktop/datathon/App/Data/Meter Data/Demand Data.csv")

In [4]:
df_temp_max

    Day of Date  Cases  CasesNumbers
0     31-Oct-20    NaN           0.0
1     30-Oct-20    NaN           0.0
2     29-Oct-20    3.0           3.0
3     28-Oct-20    2.0           2.0
4     27-Oct-20    2.0           2.0
..          ...    ...           ...
276   29-Jan-20    NaN           0.0
277   28-Jan-20    1.0           1.0
278   27-Jan-20    NaN           0.0
279   26-Jan-20    NaN           0.0
280   25-Jan-20    1.0           1.0

[281 rows x 3 columns]

In [171]:
df_demand = df_demand.drop(['REGION', 'PERIODTYPE'], axis = 1)

In [172]:
# df_demand

In [173]:
df_demand['SETTLEMENTDATE'] = pd.to_datetime(df_demand['SETTLEMENTDATE'])

# Separate the date and time into 2 new columns
df_demand['Date'] = [d.date() for d in df_demand['SETTLEMENTDATE']]
df_demand['Time'] = [d.time() for d in df_demand['SETTLEMENTDATE']]

# Convert the date-time column to the appropriate data type and format
df_demand['Date'] = pd.to_datetime(df_demand['Date'])
df_demand['Date'] = df_demand['Date'].dt.strftime('%d/%m/%y')
df_demand['Date'] = pd.to_datetime(df_demand['Date'])

In [174]:
# # df_demand['Date']
# df_demand.index = pd.to_datetime(df_demand.index, unit='s')

In [175]:
# df_demand2 = df_demand.resample('60min').sum()

# #

In [176]:
# df_demand2

In [177]:
for i in df_consumption:
    for column in df_consumption.columns:
        if "VAL" in column:
            df_consumption.drop(column, axis = 1, inplace=True)

In [178]:
df_consumption.columns
df_consumption = df_consumption.rename(columns={"SETTD":"Date"})

In [179]:
 df_consumption['Date'] = pd.to_datetime(df_consumption['Date'])
 df_consumption['Date'] = df_consumption['Date'].dt.strftime('%d/%m/%y')
 df_consumption['Date'] = pd.to_datetime(df_consumption['Date'])

In [180]:
df_consumption

     PROFILEAREA       Date  DCTC       DAILYT
0      CITIPOWER 2018-01-01  MRIM  3759688.195
1      CITIPOWER 2018-01-02  MRIM  4206833.739
2      CITIPOWER 2018-01-03  MRIM  4183068.156
3      CITIPOWER 2018-01-04  MRIM  4348462.455
4      CITIPOWER 2018-01-05  MRIM  4860247.751
...          ...        ...   ...          ...
4100      VICAGL 2020-03-27  MRIM  3664284.471
4101      VICAGL 2020-03-28  MRIM  3550058.705
4102      VICAGL 2020-03-29  MRIM  3768120.264
4103      VICAGL 2020-03-30  MRIM  3630628.975
4104      VICAGL 2020-03-31  MRIM  3564775.325

[4105 rows x 4 columns]

In [181]:
df_final = pd.merge(df_demand, df_consumption, how = 'inner', on = ['Date'])

df_final

,SETTLEMENTDATE,TOTALDEMAND,RRP,Date,Time,PROFILEAREA,DCTC,DAILYT
0,2018-04-01 00:30:00,4198.37,87.84,2018-01-04,00:30:00,CITIPOWER,MRIM,4.348462e+06
1,2018-04-01 00:30:00,4198.37,87.84,2018-01-04,00:30:00,POWERCOR,MRIM,1.065627e+07
2,2018-04-01 00:30:00,4198.37,87.84,2018-01-04,00:30:00,TXU,MRIM,8.331774e+06
3,2018-04-01 00:30:00,4198.37,87.84,2018-01-04,00:30:00,UNITED,MRIM,7.046731e+06
4,2018-04-01 00:30:00,4198.37,87.84,2018-01-04,00:30:00,VICAGL,MRIM,3.270755e+06
...,...,...,...,...,...,...,...,...
195590,2020-09-03 23:30:00,4893.17,31.94,2020-03-09,23:30:00,CITIPOWER,MRIM,3.989817e+06
195591,2020-09-03 23:30:00,4893.17,31.94,2020-03-09,23:30:00,POWERCOR,MRIM,8.315687e+06
195592,2020-09-03 23:30:00,4893.17,31.94,2020-03-09,23:30:00,TXU,MRIM,7.193878e+06
195593,2020-09-03 23:30:00,4893.17,31.94,2020-03-09,23:30:00,UNITED,MRIM,6.601155e+06
195594,2020-09-03 23:30:00,4893.17,31.94,2020-03-09,23:30:00,VICAGL,MRIM,3.120004e+06

In [182]:
# df_new = df_final.resample('D').sum()

In [183]:
df_temp_max = df_temp_max.drop(['Product code',
                                'Bureau of Meteorology station number',
                                'Days of accumulation of maximum temperature',
                                'Quality'], axis = 1).rename({'Maximum temperature (Degree C)': 'MaxTemp'}, axis = 1)

df_temp_min = df_temp_min.drop(['Product code',
                                'Bureau of Meteorology station number',
                                'Days of accumulation of minimum temperature',
                                'Quality'], axis = 1).rename({'Minimum temperature (Degree C)': 'MinTemp'}, axis = 1)

In [184]:
temp = pd.merge(df_temp_max, df_temp_min, how = 'inner', on = ['Year', 'Month', 'Day'])

In [185]:
temp = temp[temp.Year > 2017].reset_index().drop('index', axis = 1)

In [186]:
date = pd.to_datetime(temp[['Year', 'Month', 'Day']])
temp['Date'] = date

# Drop the 3 individual year, month and day columns
temp = temp.drop(['Year', 'Month', 'Day'], axis = 1)

In [187]:
df_main = pd.merge(temp, df_final, how = 'inner', on = ['Date'])

In [188]:
df_main = df_main.drop(['SETTLEMENTDATE', 'DCTC'], axis = 1)
df_main

,MaxTemp,MinTemp,Date,TOTALDEMAND,RRP,Time,PROFILEAREA,DAILYT
0,24.8,16.4,2018-01-01,4251.18,92.46,00:30:00,CITIPOWER,3759688.195
1,24.8,16.4,2018-01-01,4251.18,92.46,00:30:00,POWERCOR,9616862.065
2,24.8,16.4,2018-01-01,4251.18,92.46,00:30:00,TXU,7668650.128
3,24.8,16.4,2018-01-01,4251.18,92.46,00:30:00,UNITED,6625930.554
4,24.8,16.4,2018-01-01,4251.18,92.46,00:30:00,VICAGL,3077561.363
...,...,...,...,...,...,...,...,...
7041415,20.6,10.5,2020-03-31,4615.58,52.67,23:30:00,CITIPOWER,4181160.890
7041416,20.6,10.5,2020-03-31,4615.58,52.67,23:30:00,POWERCOR,9435896.572
7041417,20.6,10.5,2020-03-31,4615.58,52.67,23:30:00,TXU,7952010.519
7041418,20.6,10.5,2020-03-31,4615.58,52.67,23:30:00,UNITED,7356096.252
7041419,20.6,10.5,2020-03-31,4615.58,52.67,23:30:00,VICAGL,3564775.325

In [189]:
df_main.dropna()

,MaxTemp,MinTemp,Date,TOTALDEMAND,RRP,Time,PROFILEAREA,DAILYT
0,24.8,16.4,2018-01-01,4251.18,92.46,00:30:00,CITIPOWER,3759688.195
1,24.8,16.4,2018-01-01,4251.18,92.46,00:30:00,POWERCOR,9616862.065
2,24.8,16.4,2018-01-01,4251.18,92.46,00:30:00,TXU,7668650.128
3,24.8,16.4,2018-01-01,4251.18,92.46,00:30:00,UNITED,6625930.554
4,24.8,16.4,2018-01-01,4251.18,92.46,00:30:00,VICAGL,3077561.363
...,...,...,...,...,...,...,...,...
7041415,20.6,10.5,2020-03-31,4615.58,52.67,23:30:00,CITIPOWER,4181160.890
7041416,20.6,10.5,2020-03-31,4615.58,52.67,23:30:00,POWERCOR,9435896.572
7041417,20.6,10.5,2020-03-31,4615.58,52.67,23:30:00,TXU,7952010.519
7041418,20.6,10.5,2020-03-31,4615.58,52.67,23:30:00,UNITED,7356096.252
7041419,20.6,10.5,2020-03-31,4615.58,52.67,23:30:00,VICAGL,3564775.325

In [190]:
# df_new = df_final.resample('D').sum()

In [191]:
df = df_main.drop_duplicates().reset_index(drop=True)
df

,MaxTemp,MinTemp,Date,TOTALDEMAND,RRP,Time,PROFILEAREA,DAILYT
0,24.8,16.4,2018-01-01,4251.18,92.46,00:30:00,CITIPOWER,3759688.195
1,24.8,16.4,2018-01-01,4251.18,92.46,00:30:00,POWERCOR,9616862.065
2,24.8,16.4,2018-01-01,4251.18,92.46,00:30:00,TXU,7668650.128
3,24.8,16.4,2018-01-01,4251.18,92.46,00:30:00,UNITED,6625930.554
4,24.8,16.4,2018-01-01,4251.18,92.46,00:30:00,VICAGL,3077561.363
...,...,...,...,...,...,...,...,...
1648270,20.6,10.5,2020-03-31,4615.58,52.67,23:30:00,CITIPOWER,4181160.890
1648271,20.6,10.5,2020-03-31,4615.58,52.67,23:30:00,POWERCOR,9435896.572
1648272,20.6,10.5,2020-03-31,4615.58,52.67,23:30:00,TXU,7952010.519
1648273,20.6,10.5,2020-03-31,4615.58,52.67,23:30:00,UNITED,7356096.252
1648274,20.6,10.5,2020-03-31,4615.58,52.67,23:30:00,VICAGL,3564775.325

In [192]:
# df= df[df.PROFILEAREA != 'TXU']
# df= df[df.PROFILEAREA != 'VICAGL']
# df= df[df.PROFILEAREA != 'POWERCOR']

In [193]:
df.set_index(['Date'], inplace=True)
df.head()
df.shape

(1648275, 7)

In [194]:
df_new = df.resample('D').mean()

In [195]:
df_new

              MaxTemp    MinTemp  TOTALDEMAND        RRP        DAILYT
Date
2018-01-01  24.866667  16.500000  3988.814894  71.063404  6.149738e+06
2018-01-02  22.533333  16.250000  4581.217083  71.768750  6.381157e+06
2018-01-03  21.433333  14.033333  4889.427500  77.660000  6.219129e+06
2018-01-04  23.300000  12.833333  4117.376250  73.070833  6.730797e+06
2018-01-05  31.000000  13.433333  5110.093125  72.521667  7.976139e+06
...               ...        ...          ...        ...           ...
2020-03-27  27.700000  12.433333  4664.926875  48.927500  6.698559e+06
2020-03-28  27.966667  13.433333  4080.154792  46.997083  6.587342e+06
2020-03-29  26.966667  18.066667  3998.050208  41.331250  7.075753e+06
2020-03-30  21.833333  15.366667  4486.979583  56.481875  6.653502e+06
2020-03-31  20.966667  10.900000  4543.494375  57.191875  6.497988e+06

[821 rows x 5 columns]

In [196]:
df_new.columns

Index(['MaxTemp', 'MinTemp', 'TOTALDEMAND', 'RRP', 'DAILYT'], dtype='object')

In [197]:
# df = df.drop(['Time'],axis=1)
# df = df.drop(['DAILYT'],axis=1)

# # categorical_cols = df.columns[df.dtypes==object].tolist()


# # for col in categorical_cols:
# #     n = len(df[col].unique())
# #     if (n == 2):
# #         df[col] = pd.get_dummies(df[col], drop_first=True)

# # # for other categorical features (with > 2 levels), 
# # # use regular one-hot-encoding 
# # # if a feature is numeric, it will be untouched

# # df = pd.get_dummies(df)
# # df

In [198]:
df_new.shape

(821, 5)

In [199]:
df_new.isnull().sum() # no missing values in our data

MaxTemp        6
MinTemp        6
TOTALDEMAND    6
RRP            6
DAILYT         6
dtype: int64

In [200]:
df_new = df_new.fillna(df_new.mean()) #missing values imputing

In [201]:
df_new.isnull().sum()

MaxTemp        0
MinTemp        0
TOTALDEMAND    0
RRP            0
DAILYT         0
dtype: int64

In [202]:
# df_final = pd.merge(df_new, cat, how = 'inner', on = ['Date'])

In [203]:
df_new.to_csv(r'C:/Users/HP/Desktop/datathon/App/final_data.csv')
df_new

              MaxTemp    MinTemp  TOTALDEMAND        RRP        DAILYT
Date
2018-01-01  24.866667  16.500000  3988.814894  71.063404  6.149738e+06
2018-01-02  22.533333  16.250000  4581.217083  71.768750  6.381157e+06
2018-01-03  21.433333  14.033333  4889.427500  77.660000  6.219129e+06
2018-01-04  23.300000  12.833333  4117.376250  73.070833  6.730797e+06
2018-01-05  31.000000  13.433333  5110.093125  72.521667  7.976139e+06
...               ...        ...          ...        ...           ...
2020-03-27  27.700000  12.433333  4664.926875  48.927500  6.698559e+06
2020-03-28  27.966667  13.433333  4080.154792  46.997083  6.587342e+06
2020-03-29  26.966667  18.066667  3998.050208  41.331250  7.075753e+06
2020-03-30  21.833333  15.366667  4486.979583  56.481875  6.653502e+06
2020-03-31  20.966667  10.900000  4543.494375  57.191875  6.497988e+06

[821 rows x 5 columns]